.navbar {
    background-color: rgb(37, 98, 212);
    height: 12vh;
}

.navbar .nav-link {
    color: black;
    text-transform: uppercase;
    font-weight: 900;

}

.btn {
    padding: 12px 30px;
    font-weight: 900;
    font-size: 18px;
}

.btn-bembang {
    background-color: gold;
    border: 12px black;
    border-radius: 60px;
    transition: all ease-in 0.5s;
}

.btn-bembang:hover{
    color: rgb(35, 53, 216);
    border: 5px solid #111111;
}

.drag {
    width: 8%;
}

.banner {
    background: linear-gradient(90deg, rgba(244,244,244,1) 1%, rgba(184,158,214,1) 9%, rgba(95,48,130,0.1741071428571429) 100%), url(shadow.jpg) ;
    height: 90vh;
    background-size: cover;
    text-transform: capitalize;
    font-weight: 800;
}

.banner p{
    color: #c21616;
    font-size: 30px;
    font-style: italic;
}

section {
    padding: 100px 0;
    
}

#about h2 {
 text-transform: capitalize;
 font-weight: 800;
 font-style: Bold;
 color: blueviolet;
}

#about h5 {
    font-style: italic;
    
}

#about img {
    border: 5px solid black;
    box-shadow: 0 0 40px palevioletred;
    border-radius: 25px;
}

.card-img-top {
    width: 100px;
}

.card {
    padding: 25px 20px;
    transition: all ease-in 0.5s;
    border: 5px solid rgb(56, 40, 128);
    box-shadow: 0 0 40px rgb(111, 30, 158);
    border-radius: 25px;
    margin-top: 25px;
}

.card:hover {
    background-color: violet;
}
 .card:hover .card-title, 
 .card:hover .card-text {
    color: lavender;
 }

 #services h2 {
    text-transform: capitalize;
    font-weight: 800;
    font-style: Bold;
    color: rgb(25, 28, 194);
    margin-bottom: 30px;
   }

   #services {
    background: plum;
   }

   #reviews {
    background: rgb(96, 67, 121);
   }

   .testimonial {
    border: 5px solid wheat;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
   }

   .testimonial img {
    width: 75px;
    border-radius: 50%;
    border: 3px solid blue;

   }

   .faq-section {
    max-width: 800px;
    margin: auto;
    margin-top: 30px;
   }

   .accordion-item {
    margin-bottom: 20px;
    border-radius: 0 !important;
   }

   .accordion-button {
    background-color: rgb(224, 120, 216);
    border: none;
    border-bottom: 1px solid violet;
    border-radius: 0 !important;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #111111;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
   }

   .accordion-body {
    border-left: 3px solid plum;
    padding: 10px 15px;
    margin-left: 0;
    background-color: pink;
   }

   .accordion-button:not(.collapsed) {
    background-color: rgb(245, 179, 245);
    color: beige;
   }

   .accordion-button:hover {
    background-color: antiquewhite;
    color: azure;
   }

   footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #0A1737 ;
    }

    #footer ul.list-unstyled li a {
    color: #ffffff;
    text-decoration: none;
    }

    #footer ul.list-unstyled li:hover a {
    color:  rgb(244, 149, 15) ; 
    }

    @media screen and (max-width: 767px) {
        h1 {
            font-size: 45px !important;
        }

        section{
            padding: 60px 20px;
        }

        #about img {
            height: 300px;
            width: 300px;
            margin: 30px;
        }
    }
